
UserName: <input type="text" [(ngModel)]="userName" />
<br> <p [innerText]="userName"></p> 
<button class="btn btn-primary" [disabled]="userName==''" (click)="userName=''">Reset</button>

<br>

<p>Server Name</p>
<input name="serverName" (input)="updateServerName($event)"/>

<br>Two way binding:
<input type="text" [(ngModel)]="serverName"/>
String interpolation:{{serverName}}

<br><button class="btn btn-primary" [disabled]="!allowAddServer" (click)="onCreateServer()">Add Server</button>
<p>{{serverAddStatus}}</p>
<p>servers starts...</p>
<server-component></server-component>
<server-component></server-component>
<p>.....servers ended</p>